version: "3.9"

services:
  db:
    image: postgres:15
    container_name: stock_db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: stocks
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: stock_redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: stock_backend
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

volumes:
  pgdata: